
<div class="row">
  <div class="col-md-4"><h2>New Question</h2></div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= form_for @question, url: { action: :create } do |f| %>
      <%= f.label :question_type_id %>
      <br>
      <%= f.collection_select :question_type_id, QuestionType.all, :id, :description, include_blank: true %>
      <br>
      <%= label_tag :options, "How many options?" %>
      <%= number_field_tag :options %>
      <br>
      <%= f.submit "Continue Creating Question" %>
    <% end %>
  </div>
</div>
