
<div class="row">
  <div class="col-md-8">
    <h1><%= @survey.name %></h1>
    <p><%= @survey.description %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <%= form_for [@survey, @survey_response] do |sr_fields| %>
      <br>
        <% @survey.questions.each do |question|  %>
           <%= render "multiple_choice_question_form", f: sr_fields, question: question %>
        <% end %>
      
      <%= sr_fields.submit "Submit Answers" %>
    <% end %>
  </div>
</div>
