
<div class="row">
  <div class="col-md-8">
    <h1><%= @survey.name %></h1>
    <p><%= @survey.description %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <%= form_for [@survey, @survey_response] do |sr_fields| %>
      <br>
      <%= sr_fields.fields_for :submitted_answers do |sa_fields| %>
          <%= render "multiple_choice_question_form", f: sa_fields %>
      <% end %>
      <%= hidden_field_tag :survey_id, @survey.id %>
      <%= sr_fields.submit "Submit Answers" %>
    <% end %>
  </div>
</div>
